@import 'colors'

.message
  border-radius: 5px
  background-color: $unique-color-dark
  text-align: left

.user
  font-weight: bold

.own-message
  background-color: $unique-color
  text-align: right

.date
  font-size: x-small
