<div class="container">
  <form novalidate [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-11">
        <app-text-input
          #inputMessage
          formControlName="message"
          placeholder="Message"
          [showValidation]="false">
        </app-text-input>
      </div>
      <div class="col-1">
        <button
          type="submit"
          class="btn btn-primary btn-block">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
