<div class="container">
  <div class="row pb-3">
    <div class="col-sm-12">
      <span class="section-title">Noperoom</span>
    </div>
  </div>
  <form novalidate [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm-12">
        <app-text-input
          formControlName="nickname"
          placeholder="Nickname"
          [showValidation]="false">
        </app-text-input>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <app-text-input
          #channelName
          formControlName="channel"
          placeholder="Channel"
          [showValidation]="false">
        </app-text-input>
      </div>
      <div class="col-sm-2 mb-2">
        <button
          (click)="generateChannelName()"
          type="button"
          class="btn btn-primary btn-block">
          <fa-icon [icon]="faMagic"></fa-icon>
        </button>
      </div>
      <div class="col-sm-2 mb-2">
        <button
          [cdkCopyToClipboard]="channelName.value"
          type="button"
          class="btn btn-primary btn-block">
          <fa-icon [icon]="faClipboard"></fa-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button
          type="submit"
          class="btn btn-primary btn-block">
          <fa-icon [icon]="faPlug"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
