$color-total-black: #000
$color-total-white: #fff
$color-black: #131416
$color-white: #f9fafa

$color-grey-80: #383c42
$color-grey-64: #5e636e
$color-grey-40: #868c98
$color-grey-24: #b2b6bd
$color-grey-16: #dee0e3
$color-grey-8: #f4f4f5

$color-hdm-green: #3e8e0b
$color-hdm-red: #e1241a
