/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../../node_modules/bootstrap/scss/bootstrap'

@import 'variables'
@import 'colors'
@import 'theme'

html, body
  height: 100%
  margin: 0
  background-color: $elegant-color
  color: $color-grey-8

h1, h2
  color: $color-grey-24
